body {
	margin: 0px;
	padding: 0px;
	background-color: #E3F2F9;
}
.row-block > div {
	width: 1000px;
	margin: 0 auto;
}

#header-text {
	width: 700px;
	height: 137px;
	float: left;
}

#header-logo {
	width: 300px;
	height: 137px;
	float: right;
}

 #header-logo img {
	width: 300px;
	height: 137px;
}

 #header {
	background-color: #111A29;
	height: 137px;
 }

 #main-menu {
 	background-color: #C0D4DF;
 	height: 50px;
 }

 #content > div{
 	background-color: #fff;
 }
 
 #footer {
 	background-color: #364655;
 	height: 50px;
 	margin-top: 50px;
 }

 .level1 {
	font-family: Helvetica;
	font-size: 25px;
	color:#fff;
	margin-bottom: -4px;
	padding-top: 15px;
 }
 
 .level2{
	font-family: Helvetica;
	font-size: 10px;
	color:#7D8A98;
 }

 .level3{
	font-family: Helvetica;
	font-size: 17px;
	color:#fff;
	margin-top: -4px;
 }
 #row-text{
 	height: 10px;
 	
 }
 #main-menu > div{
	height: 50px;
 }
 .level4 {
 	margin: 0px;
 	padding: 20px;
 	font-size: 15px;
 	font-family: Helvetica;
 	color: #364654;
 	padding-top: 15px;
 }

#button {
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    background-color: #364654;
    width: 100px;
    border-radius: 5px;
    height: 28px;
    margin-left: 77px;
    margin-top: 56px;
}




label {
	font-weight: bold;
	margin-right: 20px;
	font-size: 11pt;
}

input, select {
	height: 25px;
	width: 190px;
}

.col div:nth-child(even) {
    width: 42%;
    margin: 11px 0px;
    text-align: right;
    display: inline-block;
}
.col div:nth-child(odd) {
	float: left;
    width: 40%;
    margin: 8px 0px;
    text-align: right;
}
.titleForm {
	height: 52px;
    padding-top: 23px;
    text-align: center;
    width: 772px;
    font-style: italic;
    font-size: 11pt

}
.copy {
    font-size: 9pt;
    color: #e5e5e5;
    line-height: 40px;
    margin-left: 100px;
}
.footerLinks a {
	font-size: 9pt;
    color: #e5e5e5;
    font-weight: bold;
    padding-left: 10px;
}
.footerLinks {
	line-height: 40px;
    float: right;
    margin-right: 100px;
}

@media screen and (max-width: 480px) {
	div#header-logo {
    display: none;
}

.row-block > div {
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

div#header-text {
    text-align: center;
    width: 100%;
    float: none;
    height: auto;
    padding-bottom: 10px;
}

div#main-menu {
    text-align: center;
}
.titleForm {
    max-width: 100%;
}

#content .col > div {
    text-align: center;
    width: 190px;
    display: inline-block;
    margin: 10px;
    float: none;
}

.col {
    text-align: center;
}

.col:after {
    content: "";
    display: inline-block;
    width: 100%;
}

input#button {
    margin: 10px auto;
    display: block;
}

div#footer * {
    margin: 0;
}

div#header {
    height: auto;
}

html {
}
}

